body {
  user-select: none;
}

#app .navbar .logo {
  width: 36px;
  height: 36px;
  border-radius: 18px;
}

#app .home .hero img {
  margin-top: 80px;
  border-radius: 50%;
  max-height: 250px;
}

.page .theme-default-content code {
  background-color: #fff5f5;
  color: #ff502c;
}
